@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

/* body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
} */

.navigation_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 20px;
  border-bottom: 1px solid rgba(203, 203, 203, 1);
  background-color: rgba(245, 245, 245, 1);
  position: fixed;
  top: 0;
  width: 100%;
  gap: 10px;
  height: 72px;
}
.techpaathshala_icon {
  width: 170px;
  height: 22px;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-container .login-btn {
  padding: 12px 24px 12px 24px;
  border: 1px solid rgba(142, 142, 147, 1);
  border-radius: 100px;
  font-size: 16px;
  background-color: rgba(243, 189, 0, 1);
  font-weight: 500;
  color: black;
  line-height: 19.2px;
  cursor: pointer;
}

.navigation_bar .login-btn {
  padding: 0px 10px;
  border: 1px solid rgba(142, 142, 147, 1);
  border-radius: 30px;
  background-color: rgba(243, 189, 0, 1);
  font-weight: 500;
  color: black;
  line-height: 19.2px;
  cursor: pointer;
  height: 48px;
}

.login-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-btn a {
  text-decoration: none;
}

@media (min-width: 375px) and (max-width: 767.98px) {
  p {
    font-size: 20px;
  }

  .main-container {
    gap: 30px;
  }
  .navigation_bar .login-btn{
    padding: 8px 24px 8px 24px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  p {
    font-size: 20px;
  }

  .main-container {
    gap: 30px;
  }

  .techpaathshala_icon {
    width: 200px;
  }

  .navigation_bar .login-btn {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  p {
    font-size: 20px;
  }

  .main-container {
    gap: 30px;
  }

  .techpaathshala_icon {
    width: 200px;
  }

  .navigation_bar .login-btn {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 22px;
  }

  .main-container {
    gap: 40px;
  }

  .navigation_bar .login-btn {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}