@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

img {
  display: block;
}

.container {
  max-width: 100%;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.auth__img-wrapper {
  width: 100%;
}

.auth__img {
  width: 100%;
}

.auth__form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth__form-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

.auth__form-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #8e8e93;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth__form-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth__form div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.auth__form-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.auth__form-input {
  border-radius: 8px;
  border: 1px solid #8e8e93;
  padding: 16px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  /* color: #8e8e93; */
}

.primary-btn {
  border-radius: 100px;
  padding: 12px 24px;
  background-color: #f3bd00;
  font-size: 16px;
  font-family: 500;
  line-height: 19.2px;
  color: #1c1c1e;
  border: none;
  cursor: pointer;
}

.secondary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 19.2px;
  color: #1c1c1e;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  padding: 16px 20px;
  background-color: #fefefe;
  box-shadow: 0px 1px 2px 0px #1018280d;
  cursor: pointer;
}

.primary-btn:hover,
.secondary-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.secondary__btn-img {
  width: 28px;
  height: 28px;
}

.auth__span {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  gap: 5px;
  color: #8e8e93;
}

.auth__span a {
  font-weight: 700;
  color: #0948B4;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .auth {
    flex-direction: row;
    gap: 60px;
  }

  .auth__form-container {
    gap: 32px;
  }

  .auth__form {
    gap: 24px;
  }

  .auth__img {
    display: block;
  }

  .auth__img-wrapper {
    width: 50%;
  }

  .auth__span {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .auth {
    flex-direction: row;
    gap: 0px;
    margin: 0 auto;
  }

  .auth__img {
    display: block;
    width: 80%;
    height: auto;
  }

  /* .auth__form {
    gap: 32px;
  } */

  .auth__form-input {
    width: 440px;
  }

  .auth__span{
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
