.otp-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.otp-container input {
  width: 40px;
  height: 40px;
  font-size: 14px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
  border: none;
  outline: none;
  text-align: center;
}

@media (min-width: 375px) and (max-width: 767.98px) {
  .otp-container {
    gap: 10px;
  }
  .otp-container input {
    width: 45px;
    height: 45px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .otp-container input {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .otp-container {
    gap: 12px;
  }
  .otp-container input {
    width: 55px;
    height: 55px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .otp-container {
    gap: 12px;
  }
  .otp-container input {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
}
